<h1>Add a new tag</h1>

<form action="/tags" method="post">

  <label for"tag_name">Tag:</label>
  <input id="tag_name" name="name" type="text" value="<%= @tag.name %>">
  <button>Add tag.</button>
</form>
